const Promise = require('bluebird');
const rek = require('rekuire');
const mongoose = require('mongoose');
const {{ collectionNameCamelCase }} = mongoose.model('{{ collectionNamePlural }}');


const create = function({{ collectionName }}) {
  let {{ collectionName }}Model = new {{ collectionNameCamelCase }}({{ collectionName }});

  return {{ collectionName }}Model.save();
};

const find = function(query) {
  return {{ collectionNameCamelCase }}.find(query);
};

const update = function({{ collectionName }}) {
  // { new: true } will return the updated document
  return {{ collectionNameCamelCase }}.findByIdAndUpdate({{ collectionName }}._id, {{ collectionName }}, { new: true });
};

const deleteDocument = function(query) {
  return {{ collectionNameCamelCase }}.remove(query);
};

module.exports = {
  create,
  find,
  update,
  delete: deleteDocument
};
