const jwt = require('jsonwebtoken');
const rek = require('rekuire');

const {{ collectionNamePlural }}Repo = rek('{{ collectionNamePlural }}-repo');
const errorHandling = rek('error-handling');


const createRoutes = app => {
  const baseUrl = '/api/{{ collectionNamePlural }}';

  // Create
  app.post(baseUrl, (req, res, next) => {
    {{ collectionNamePlural }}Repo.create(req.body)
      .then(new{{ collectionNameCamelCase }} => {

        return res.json(new{{ collectionNameCamelCase }});
      })
      .catch((err) => errorHandling.requestErrorHandler(err, req, res));
  });

  // MongoDB Find()
  app.post(baseUrl +'/query', (req, res, next) => {
    {{ collectionNamePlural }}Repo.find(req.body)
      .then(data => res.json(data))
      .catch((err) => errorHandling.requestErrorHandler(err, req, res));
  });

  // Update
  app.put(baseUrl, (req, res, next) => {
    {{ collectionNamePlural }}Repo.update(req.body)
      .then(data => res.json(data))
      .catch((err) => errorHandling.requestErrorHandler(err, req, res));
  });

  // Delete
  app.delete(baseUrl, (req, res, next) => {
    {{ collectionNamePlural }}Repo.delete(req.body)
      .then(data => res.json(data))
      .catch((err) => errorHandling.requestErrorHandler(err, req, res));
  });
};

module.exports = {
  createRoutes: createRoutes
}
